node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/prisma/migrations
dist
extensions/product-info-action/dist
extensions/product-info-block/dist
extensions/products-list-info-action/dist
database.sqlite

.env
package-lock.json
yarn.lock
